body {
  background-color: rgb(240, 240, 240);
}

input,
textarea {
  cursor: pointer;
}

input:focus,
textarea:focus {
  border-color: rgb(86, 43, 129);
}

label,
img {
  display: block;
}

#purple-background {
  background-color: rgb(86, 43, 129);
  padding: 0;
}

#header-style {
  color: white;
  font-size: 1rem;
  font-weight: normal;
}

#image,
#image-for-note {
  width: 100%;
}

#img-button {
  cursor: pointer;
}

.title-for-note,
.url-for-note,
.note {
  flex: 1;
}

.title-for-note input,
.url-for-note input,
.note textarea {
  width: 100%;
}

.textarea-padding {
  padding: 0.5rem;
}

.space-between {
  display: flex;
  justify-content: space-between;
  margin: 0.7rem;
}

.title-and-edit-icon-same-row,
.entry-and-button-same-row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.submit-button,
.new-button {
  background-color: rgb(86, 43, 129);
  color: white;
  padding: 0.4rem;
  border-radius: 0.4rem;
  text-transform: uppercase;
  cursor: pointer;
}

.new-button {
  text-decoration: none;
}

/* seprate */

/* Additional styles for entries */
.entry {
  margin-bottom: 1rem;
  overflow: hidden;
}

.no-entries-message {
  text-align: center;
}

#entries-list {
  padding-left: 0;
}

.entry-content {
  display: flex;
  direction: column;
  flex-wrap: wrap;
  padding: 0;
}

.entry-info {
  align-self: flex-start;
  margin-top: 1rem;
}

.entry-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.entry-notes {
  color: #666;
}

.entry-photo {
  margin-left: auto;
  flex: 0 0 50%;
  text-align: right;
}

.entry-photo img {
  width: 100%;
}

@media only screen and (width <= 400px) {
  .entry-content {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .entry-photo {
    margin: 0;
    flex-basis: 100%;
    margin-bottom: 0.5rem;
    text-align: flex-start;
  }

  .entry-info {
    margin-top: 0.5rem;
    display: block;
  }
}

@media only screen and (width >= 768px) {
  .entry-content {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .entry-photo {
    margin-right: 1rem;
  }

  .entry-info {
    margin-top: 0;
  }
}

.hidden {
  display: none;
}

.edit-icon {
  cursor: pointer;
}

.delete-button {
  border: none;
  cursor: pointer;
}
